.metadata
*.class
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.target
.cache-main
.scala_dependencies
.worksheet
target/
.idea/
*.iml
*.iws
debug.log
src/test/resources/logs/*
allure-results/*